@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

body {
  font-family: Roboto, sans-serif;
}

header,
main,
footer {
  max-width: 1000px;
  margin: 1rem auto;
  border: 1px solid #ccc;
  padding: 1rem;
  background-color: lightblue;
}

h1 {
  text-align: center;
}

section {
  padding: 20px;
  margin: 1em;
}
.logo {
  border: 5px solid white;
  box-shadow: 0 0 5px rgba(0,0,0,0.1);
  max-width: 100%;
  height: auto;
  display: block;
  margin: 10px auto;
}

nav a {
  padding: 20px;
  color: black;
  display: none;
}

nav a:hover {
  text-decoration: none;
  color: #616061;
}

.menu-btn {
  cursor: pointer;
  border: none;
  background-color: transparent;
}

.bar1, .bar2, .bar3 {
  width: 30px;
  height: 4px;
  background-color: black;
  margin: 5px 0;
}

footer {
  text-align: center;
}

@media screen and (min-width: 700px) {
  .menu-btn {
    display: none;
  }

  nav a {
    display: inline-block;
  }

  nav {
    text-align: center;
  }

  main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  section {
    flex: 1 1 30%; 
    box-sizing: border-box;
  }
}