body {
    background-color: #f4f4f4;
    font-family: 'Times New Roman', Times, serif;
    display: flex;
    justify-content: center;
    padding: 50px 20px;
    line-height: 1.6;
    color: #333;
}

#content {
    background-color: white;
    width: 100%;
    max-width: 800px;
    padding: 80px;
    border: 1px solid #ccc;
    text-align: left;
}

header {
    text-align: center;
    border-bottom: 1px solid #e0e0e0;
    margin-bottom: 40px;
    padding-bottom: 10px;
}

h1 {
    font-size: 2.2rem;
    letter-spacing: 4px;
    margin-bottom: 10px;
    font-weight: 500;
}

h2 
{
    text-align: center;
}

p 
{
    text-align: center;
}

ul {
    text-align: center;
    list-style-type: none;
}


.pictures {
    display: block;
    margin: 60px auto 0;
}

.title 
{
    text-align: center;
}